Sxiv.background: #474747
Sxiv.foreground: #ababab
Sxiv.font: Hack Nerd Font-10

*.font: DejaVu Sans Mono:pixelsize=24;antialiad=true:autohint=true;

URxvt*font: xft:JetBrainsMono:size=18, xft:JoyPixels:size=18,xft:Symbols Nerd Font:size=12,xft:NotoSansSymbols-Regular:size=12
URxvt.scrollBar: false
!URxvt.transparent: true
!URxvt.shading: 10
!URxvt.blurRadius: 5
!URxvt.tintColor: #000000
hard contrast: *background: #1d2021
soft contrast: *background: #32302f
*background: #282828
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

URxvt.perl-ext-common: default,selection-to-clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
